google-sheet-agent-n8n/My workflow 3.json
{
  "name": "My workflow 3",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        -416,
        -208
      ],
      "id": "60a115e7-aee6-4b47-8367-2383699ffe59",
      "name": "When chat message received",
      "webhookId": "bbdd0072-c7da-44b7-9c01-e4c7480c9425",
      "notesInFlow": true
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -192,
        80
      ],
      "id": "6052291f-b790-48fc-a268-830a60421557",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "rKj4orjynarJooqH",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.sessionId }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -16,
        80
      ],
      "id": "25f71d28-6928-4bd4-8409-dc92bf317dff",
      "name": "Simple Memory"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "typeVersion": 1,
      "position": [
        128,
        80
      ],
      "id": "7eaba510-1ef8-484a-88b8-d901ac57e34f",
      "name": "Calculator"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "165oqyOFtE_43jtmjnmQU7kIu9zJQ8J6KtBn71UYg-k4",
          "mode": "list",
          "cachedResultName": "Business-Process-Analyst",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/165oqyOFtE_43jtmjnmQU7kIu9zJQ8J6KtBn71UYg-k4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 493030389,
          "mode": "list",
          "cachedResultName": "Data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/165oqyOFtE_43jtmjnmQU7kIu9zJQ8J6KtBn71UYg-k4/edit#gid=493030389"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        288,
        80
      ],
      "id": "33980e02-457b-4cdd-bece-15502e0bc51c",
      "name": "Get row(s) in sheet in Google Sheets",
      "notesInFlow": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "BrV80jPRYxTyi5B6",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "You are a helpful assistant. Use google sheet to answer the question. dont make up any answer by yourself."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -16,
        -208
      ],
      "id": "f82660a8-8f0e-41fa-bbb0-5d858f697985",
      "name": "Water Consumption Agent",
      "notesInFlow": true
    }
  ],
  "pinData": {},
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Water Consumption Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "Water Consumption Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Calculator": {
      "ai_tool": [
        [
          {
            "node": "Water Consumption Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Water Consumption Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet in Google Sheets": {
      "ai_tool": [
        [
          {
            "node": "Water Consumption Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "8747f82b-b207-49dc-ac87-23d44739da64",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ce85ea57e4db032a0248e1e439a424030526fb77c1c5755ef639ff3c03d0c7f8"
  },
  "id": "9I4ftwqTMew4OzJP",
  "tags": []
}